*{
	list-style-type:none;
}

.home{
	 
	
	font:16px;
}
.personal{
	
	float:left ;
	width:800px;

}

.clear{
	clear:both;
}

.about{

	font:16px; 
}

header,nav,div,article,section,footer{
	display:block;
}

.container{
	width:1000px;
	margin:0px auto;

}
.logo{
	width:100px;
	height:100px;
	float:left;
}


.leftSide{
    width: auto;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
} 
} 

.rightSide{
	float:left;
	width:296px;
	border:2px solid black;

}
.pageFooter{
	clear:both;
	padding:10px 0px;
    padding-top: 100px;
}

a{
	text-decoration:none;
}

.personal{
	margin:0px;
	padding:15px 15px 15px 15px ;
    border: solid grey;
    width: inherit;
    margin-bottom: 40px;
   
}

.contact {
    float: right;
    border: solid grey;
    color:blue;
    height: 360px;
}

.footer{
	padding-top: 100px
}

.body {
    
}